*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --colors-explorer-dark: #065E7C;
  --color-explorer-white: #F4FCFF;
  --colors-explorer-dark-pure: #387E96;
  --color-explorer-white-pure: #fff;
  --color-explorer-blue: #ffffff33;
  --color-explorer-letter:#202024;
  --color-explorer-letter-p:#121214;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  background-color: var(--color-explorer-white-pure);
  max-width: 33.0rem;  
}

/*#pag > * {
  border: 1px solid red;
}  Pego todos os elementos dentro do id principal*/

#pag {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
  padding: 1.6rem 2.5rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

header, .input-wrapper{
  background-color: var(--colors-explorer-dark);
  display: flex;
  align-items: center;
  gap: 2.5rem;

}

.input-wrapper label{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input{
  width: 100%;
  padding: 1.2rem 1.6rem;
  
  border-radius: .4rem;
  border: 0;
  background: var(--color-explorer-blue);
  font-family: 'Mulish', sans-serif;

  color: var(--color-explorer-white-pure);
  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder{
  color: var(--color-explorer-white-pure);
}

.foto{
  color: #fff;
}


header form{
  flex: 1; /* Vai preencher todo o espaço pra ele */
}

.logo{
  background-color: var(--color-explorer-white);
  padding: 0.9rem;
  border-radius: 50%;
}

.foto{
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  flex-shrink: 0;
}


.container h1{
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 1.94rem;
  color: var(--color-explorer-letter)
}

.review img {
  background-color: var(--colors-explorer-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .75rem;
  }

.container p{
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--color-explorer-letter-p);
  line-height: 160%;
}

.item{
  display: flex;
  padding: 2rem 0 0 0;
}

.review img {
  background-color: var(--colors-explorer-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .75rem;
  }

.details{
  margin: 0  0 0 1rem ;
}

.details h2{
  color: var(--color-explorer-letter);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;  
  margin-top: 0;
  padding-bottom: 0.95rem ;
}

.details p{
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  width: 21.5rem;
  line-height: 160%;
}

footer {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--colors-explorer-dark-pure);
  color: var(--color-explorer-white-pure)
}

@media (min-width:700px){
  #pag {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

  .container {
    padding: 1.6rem 2.5rem;
    width: 192rem;
    margin: 0;
    display: flex;
    gap:5rem;
  }

  .container h1, p{
    width: 80.0rem;
  }

  .first-main{
    width: 80.3rem;
   
  }
}